language: python
python:
    - "3.6"
install:
    - sudo apt-get install -y pylint
script:
    - ls | grep \.py3$ | xargs
    - python stable_matching/generador_archivos_residencia.py salida 50 20
    - cat salida.txt
